data/
*vault*
!project_vault

node_modules
.DS_Store
*.local
draft_newt_ui
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/

# Build / packaging
dist/
build/
*.egg-info/
*.egg
.eggs/

# Secrets & tokens
*.secret.*
secret.yaml
token.txt
token.secret.txt

todo.md

# Editors
.idea/
.vscode/
*.swp
*.swo
